﻿body
{
    background-color: #000000;
    font-size: .75em;
    margin: 0;
    padding: 0;
	color: #555555;
	font-family: Verdana, "BitStream vera Sans" ,Tahoma,Helvetica,Sans-serif;
	font-size: 12px;
}

input[type="text"], input[type="password"], textarea
{
	background-color: #fff;
	border: 1px solid #bbb;
	width: 300px;
}

textarea
{
	width: 643px;
	height: 400px;
	padding: 5px 5px 5px 5px;
}

a:link
{
    color: #034af3;
    text-decoration: none;
}

a:visited
{
    color: #034af3;
    text-decoration: none;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #12eb87;
}

p, ul
{
    margin-bottom: 20px;
    line-height: 1.6em;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}
h2
{
    padding: 0 0 10px 0;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#header
{
    position: relative;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
}

#header h1
{
    font-weight: bold;
    padding: 5px 0;
    margin: 0;
    color: #fff;
    border: none;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px !important;
}

#main
{
    padding: 30px 30px 15px 30px;
    background-color: #fff;
    margin-bottom: 30px;
    _height: 1px; /* only IE6 applies CSS properties starting with an underscore */
}


/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    border-bottom: 1px #5C87B2 solid;
    padding: 0 0 2px;
    position: relative;
    margin: 0;
    text-align: right;
}

ul#menu li
{
    display: inline;
    list-style: none;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #e8eef4;
    color: #034af3;
}

ul#menu li a:hover
{
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active
{
    background-color: #a6e2a6;
    text-decoration: none;
}

ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

#menucontainer
{
    margin-top:40px;
}

div#title
{
    display:block;
    float:left;
    text-align:left;
}

#logindisplay
{
    font-size:1.1em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.tri-state
{
    width: 6em;
}

#commentlist textarea
{
	width: 400px;
	height: 200px;
}


.per-page
{
	list-style-type: none;
	margin: 0;
	padding: 10px 0;
}
.per-page li
{
	float: left;
	padding: 0 0 0 10px;
	display: inline;
}
.per-page li a
{
	display: block;
	padding: 0 3px;
	border: 1px solid #b4b4ae;
	color: #b4b4ae;
	font-size: 11px;
	width: 15px;
	text-align: center;
}
.per-page li.active a
{
	border: 1px solid #4F5A00;
	color: #4F5A00;
}
.per-page li a:hover
{
	background: #efefef;
}

.entry
{
	padding-bottom: 5px;
	padding-top: 5px;
}

.entry h2
{
	border-bottom: 1px solid #CCCCCC;
	display: block;
	font-family: Verdana, "BitStream vera Sans";
	font-size: 16px;
	margin-top: 10px;
	padding: 0 5px 3px;
}

.entry .info
{
	margin-top: 10px;
	font-size: 10px;
	font-style: italic;
}

#content-column
{
	float: left;
	width: 75%;
	min-height: 600px;
}

#sidebar
{
	float: right;
	font-size: 95%;
	line-height: 145%;
	overflow: hidden;
	padding-top: 8px;
	width: 22%;
}

.module
{
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	background: #E8EEF4;
	padding: 10px;
}

#footer
{
	clear: both;
	color: #999;
	padding: 10px 0;
	text-align: center;
	line-height: normal;
	margin-top: 30px;
	font-size: .9em;
}

li.tag1
{
	font-size: 0.7em;
}
li.tag2
{
	font-size: 1.2em;
}
li.tag3
{
	font-size: 1.8em;
}
li.tag4
{
	font-size: 2.0em;
}
li.tag5
{
	font-size: 3.4em;
}
li.tag6
{
	font-size: 5.0em;
}
li.tag7
{
	font-size: 6.5em;
}

.tag a
{
	padding-left: 1px;
	padding-right: 1px;
}

.tag a:hover
{
	background: #8FA018 none repeat scroll 0 0;
	color: #FFFFFF;
}

.tag-index
{
	list-style-type: none;
}

.tag-index li
{
	display: inline;
	line-height: 22px;
}

.tag-index li a
{
	padding: 2px 5px;
}

.tag-index a:hover
{
	background: #8fa018;
	color: #fff;
}

#commentlist
{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #FCFCFC none repeat scroll 0 0;
}

.post-comment-button
{
	vertical-align: top;
}

#form-comments
{
	margin-top: 50px;
	padding-top: 20px;
	border-top: 1px dotted #DDDDDD;
	clear: both;
}

#commentlist ol, #commentlist li
{
	padding-bottom: 10px;
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	clear: both;
}

#thecomments .comment, #thecomments .messagebox
{
	margin-top: 20px;
	margin-bottom: 20px;
}

.comment .author
{
	float: left;
	text-align: center;
	width: 81px;
}

.comment .pic
{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(images/commentpoint.png) no-repeat scroll 100% 33%;
	margin-top: 10px;
	padding-right: 14px;
}

.comment .name
{
	font-weight: bold;
	overflow: hidden;
	padding-right: 14px;
	width: 67px;
}

.comment .info
{
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: #EDEFF0 url(img/comment.gif) no-repeat scroll 0 0;
	float: left;
	padding: 10px 15px 0;
	width: 494px;
}

.comment .date
{
	float: left;
	font-size: 10px;
}

.fixed, .clear
{
	clear: both;
}

.comment .content
{
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	background: transparent url(img/comment.gif) no-repeat scroll 100% 100%;
	line-height: 145%;
	margin: 0 -15px;
	padding: 0 15px 10px;
}

.comment .act
{
	float: right;
	font-size: 10px;
}

.entry-taglist
{
	clear: both;
	margin-bottom: 10px;
}

.entry-taglist span
{
	font-style: italic;
	font-size: 11px;
}

.entry-tag
{
	-moz-border-radius-bottomleft: 7px;
	-moz-border-radius-bottomright: 7px;
	-moz-border-radius-topleft: 7px;
	-moz-border-radius-topright: 7px;
	background-color: #FFFFFF;
	border: 2px solid #E8EEF4;
	color: #14A7C6;
	font-size: 90%;
	line-height: 2.4;
	margin: 2px 2px 2px 0;
	padding: 3px 5px;
	text-decoration: none;
	white-space: nowrap;
}

.entry-tag:hover
{
	background-color: #14A7C6;
	color: #ffffff;
	text-decoration: none;
}

h2
{
	border-bottom: 1px solid #CCCCCC;
	display: block;
	font-family: Verdana, "BitStream vera Sans";
	font-size: 16px;
	margin-top: 10px;
	padding: 0 5px 3px;
}

#content-column .info
{
	font-size: 11px;
	font-style: italic;
}

submit, input[type="button"]
{
	background: #98C64C none repeat scroll 0 0;
	border-color: #76B33A #98C64C #98C64C #76B33A;
	border-style: solid;
	border-width: 1px;
	color: #074A7E;
}
